body{
    background-color: rgb(219, 219, 223);
}



.carousel-caption {

    position: absolute;
    right: 15%;
    bottom: 13rem !important;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: rgba(245, 222, 17, 0.911) !important;
    text-align: center;
}